
//- File Name : footer,pug
//- Authors Name : - Anish Gandhi
//- WebsiteName :- portfolio
//- file description:- partial file that is inclued in all the pages
//- Footer
footer.bg-light.py-5
    .container
      .small.text-center.text-muted Copyright &copy; 2019 - Anish Gandhi